.trabalhista{
    margin-top: 212px;
    text-align: center;
}

.trabalhista-sec h3{
    font-size: 1.80rem;
    line-height: 1.80rem;
    font-weight: 800;
    text-transform: uppercase;

}


.trab-text1{
    margin-top: 1.25rem;
    font-size: 1.25rem;
}

.trab-text2{
    font-size: 0.8rem;
    line-height: 1.18rem;
    text-transform: uppercase;
    margin-top:1.25rem ;
    
}

.btn-tra {
    margin: 1rem;
    background-color:#0F9341;
    display: inline-block;
    padding: 1rem 4rem;
    border-radius: 50px;
    cursor: pointer;
}

.btn-tra a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    transition: .3s ease;

}

.btn-tra:hover {
    background-color: #1ca14f;
}


.trab-text3{
    margin-top: 3.75rem;
    font-weight: bold;
    font-size: 1.43rem;
    text-transform: uppercase;
}

.trab-text4{
    margin-top: 1.25rem;
}

.seta{
    margin-top: 75px;
    align-items: center;
    justify-content: center;
   
}

@media screen and(max-width:430px){
    .trabalhista-sec h3{
        font-size: 1rem;
        white-space: nowrap;
        line-height: 1.5rem;
        font-weight: 800;
        text-transform: uppercase;
    
    }
    .trab-text1{
        margin-top: 1.25rem;
        font-size: 1rem;
        
    }
   
}

